# Ignore Ansys Workbench projects and massive backup folders
*.wbpj
*_files/
*.wbdp

# Ignore raw CFD data and Ansys outputs
data/raw/
ansys_cases/*.dat.h5
*.cas.h5
*.dat.h5
*.trn
*.out
*.msh

# Ignore logs
logs/

# Ignore Python cache
__pycache__/
.ipynb_checkpoints/